// Basic Colors
$primary-color: #ffffff;
$secondary-color: #000000;

// Hover Colors
$hover-color1: #adb5bd;
$hover-color2: #0042d3;

// Background-Colors
$bg-color1: #041437;
$bg-color2: #F7D148;

// Active Colors
$active-color1: #0051ff;