// Basic Colors
$primary-color: #ffffff;
$secondary-color: #000000;

// Hover Colors
$hover-color1: #adb5bd;
$hover-color2: #0042d3;
$hover-color3: #287eff;
$hover-color4: #212529;
$hover-color5: #ffe8d5;
$hover-color6: #c41b11;
$hover-color7: #067524;
$hover-color8: #b3a7de;

// Background-Colors
$bg-color1: #041437;
$bg-color2: #F7D148;
$bg-color3: #0042d3;
$bg-color4: #f8f9fa;
$bg-color5: #e9ecef;
$bg-color6: #fd7b3a;
$bg-color7: #fff5ed;
$bg-color8: #e3e0f4;
$bg-color9: #f0eef9;

// Active Colors
$active-color1: #0051ff;

// Border Colors
$border-color1: #dee2e6;

// Text Colors
$text-color1: #343a40;

// Button Colors
$button-color1: #fb4338;
$button-color2: #00bf2e;