// Font-families
$primary-ff: "Cormorant Garamond", serif;
$secondary-ff: "Roboto", serif;
$tertiary-ff: "Montserrat", serif;

//Font Sizes
$font-size-xxxl: 2.5rem;
$font-size-xxl: 2rem;
$font-size-xl: 1.8rem;
$font-size-lg: 1.6rem;
$font-size-md: 1.3rem;
$font-size-sm: 1rem;
$font-size-xs: 0.8rem;
$font-size-xxs: 0.6rem;

// Font Weights
$font-weight-superbold: 800;
$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

// Letter Spacing
$letter-spacing-xl: 0.8rem;
$letter-spacing-lg: 0.6rem;
$letter-spacing-md: 0.4rem;
$letter-spacing-sm: 0.2rem;
$letter-spacing-xs: 0.1rem;

// Line Heights
$line-height-xxl: 2;
$line-height-xl: 1.8;
$line-height-lg: 1.5;
$line-height-md: 1.2;
$line-height-sm: 1;