.appointment-table {
    width: 100%;
    border-collapse: collapse;
    font-size: fonts.$font-size-sm;
    text-align: left;

    th,
    td {
        border: 1px solid colors.$border-color1;
        padding: 0.5rem;
    }

    thead {
        background-color: colors.$bg-color6;
        color: colors.$primary-color;

        th {
            text-transform: uppercase;
        }
    }

    tbody tr:nth-child(even) {
        background-color: colors.$bg-color7;
    }

    tbody tr:hover {
        background-color: colors.$hover-color5;
    }

    @media (max-width: 768px) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;

        th,
        td {
            text-align: center;
            padding: 0.5rem;
        }
    }

    @media (max-width: 480px) {
        font-size: fonts.$font-size-xs;

        th,
        td {
            padding: 0.3rem;
        }
    }
}

.button-delete,
.button-create,
.button-update {
    font-size: fonts.$font-size-xs;
    color: colors.$primary-color;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.button-create {
    background-color: colors.$button-color2;

    &:hover {
        background-color: colors.$hover-color7;
    }
}

.button-delete {
    background-color: colors.$button-color1;
    margin-top: 0.3rem;

    &:hover {
        background-color: colors.$hover-color6;
    }
}

.button-update {
    background-color: colors.$bg-color6;
    margin-top: 0.3rem;

    &:hover {
        background-color: colors.$hover-color5;
    }
}