.doctor-details-table {
    padding: 1rem;

    .table {
        th {
            background-color: colors.$bg-color8;
            color: colors.$text-color1;
            font-weight: fonts.$font-weight-bold;
        }

        td {
            vertical-align: middle;

            button {
                font-size: fonts.$font-size-sm;
                padding: 0.25rem 0.5rem;
            }
        }
        // tbody tr:nth-of-type(even) {
        //     background-color: colors.$bg-color9!important;
        // }

        // tbody tr:hover {
        //     background-color: colors.$hover-color8 !important;
        // }
    }

    @media (max-width: 768px) {
        table {
            font-size: fonts.$font-size-sm;
        }

        button {
            font-size: fonts.$font-size-xs;
        }
    }

    @media (max-width: 576px) {
        table {
            font-size: fonts.$font-size-xs;

            th,
            td {
                white-space: nowrap;
            }
        }

        button {
            padding: 0.2rem 0.4rem;
        }
    }
}